@import url('/flexoki.css');

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background-color: var(--flexoki-paper);
  --text-color: var(--flexoki-black);
  --link-color: var(--flexoki-blue-400);
  --link-hover-color: var(--flexoki-blue-600);
  --blockquote-color: var(--flexoki-600);
  --code-background: #f2f2f2;
  --code-text-color: #222;
}

html.dark {
  --background-color: var(--flexoki-black);
  --text-color: var(--flexoki-200);
  --link-color: var(--flexoki-blue-400);
  --link-hover-color: var(--flexoki-purple-400);
  --blockquote-color: var(--flexoki-500);
  --code-background: #333;
  --code-text-color: #f2f2f2;
}

body, body * {
  transition: background-color 0.2s ease, color 0.2s ease;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.4;
  color: var(--text-color);
  font-size: 110%;
}

header {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--text-color);
}

header a:hover {
  color: var(--link-color);
}

#header-name {
  font-weight: 400;
  font-size: 125%;
}

#header-name:hover {
  color: var(--link-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-toggle {
  background: none;
  border: none;
  margin-left: 1rem;
  transition: opacity 0.3s ease;
  height: 1rem;
}

.theme-toggle:hover {
  opacity: 1;
}

.theme-toggle svg {
  width: 1.1rem;
  height: 1.1rem;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  vertical-align: middle;
  transform: translateY(-1px);
  color: var(--text-color);
}

.dark .theme-toggle svg {
  fill: var(--flexoki-paper);
  stroke: var(--flexoki-paper);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--text-color);
}

a {
  color: var(--link-color);
  opacity: 100%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

.title {
  text-decoration: none;
  border: 0;
}

.title span {
  font-weight: 400;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
}

code {
  padding: 2px 5px;
  background-color: var(--code-background);
}

pre code {
  color: var(--code-text-color);
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 14px;
  overflow-x: auto;
}

div.highlight pre {
  background-color: initial;
  color: initial;
}

div.highlight code {
  background-color: unset;
  color: unset;
}

blockquote {
  border-left: 1px solid var(--blockquote-color);
  color: var(--blockquote-color);
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 25px;
  text-align: center;
}

.helptext {
  color: #777;
  font-size: small;
}

.errorlist {
  color: #eba613;
  font-size: small;
}

/* blog posts */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

.footnote-definition {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
}
