<!DOCTYPE html>
<head></head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  <title> Sahiti Doke </title>

  <script src="/themetoggle.js"></script>
  <script async src="/footnote.js"></script>
  <script data-goatcounter="https://tbanalytics.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  <link rel="shortcut icon" href="/favicon.png"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Jost:ital,wght@0,400;0,500;0,600;1,400&display=swap">
  <link rel="stylesheet" href="/style.css"/>

  {% block extra_head %} {% endblock extra_head %}
</head>

<body>
  <header>
    <a href="/" class="title">
      <span id="header-name">sahiti doke</span>
    </a>
    {% set writing = get_section(path="writing/_index.md") %}
    <nav class="header-links">
      <a href="/blog">portfolio</a>
      <a href = "{{writing.permalink}}"> blog </a>
      <a href="content/blog/vibes.md">vibes</a>
      <a href="content/blog/abme.md">about me</a>
      
      <button class="theme-toggle" onclick="toggleTheme()" aria-label="Toggle theme">
        <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
      </button>
    </nav>
  </header>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    <a href="mailto:sahiti.doke@gmail.com">email</a> •
    <a href="https://github.com/sahitidoke">github</a> •
    <a href="https://www.linkedin.com/in/sahiti-doke-2b59b3262/">linkedin</a>
  </footer>
</body>
