{% extends "base.html" %}

{% block content %}

   <p>
    <a href="/blog/abme">about me</a> • 
    <a href = "/blog/vibes"> vibes </a> • 
    <a href="/rss.xml" target="_blank"> RSS </a>
    
  </p>

   <h3> things i've done </h3>
  <li> barebones implementation of <a href = "https://github.com/sahitidoke/linear-logic-java">linear logic in java</a> </li>
  <li> <a href = "https://github.com/sahitidoke/system-f-java"> system f </a> implementation in java</li>
  <li> improving interpretability of neural models via SAE/J-Lens as part of bionic vision lab (i'm only here to steal their gpu)</li>
  <li> directed reading project on model theory and functional calculus</li>
  <li> wrote a couple expository papers on <a href = "https://drive.google.com/file/d/1ri_4GKQ1H4hc_uaDM3KANGiSl9Dn0fzE/view?usp=drive_link">hilbert's nullstellensatz</a>, <a href = "https://simonrs.com/eulercircle/diffgeo2025/brandon-sahiti-bm.pdf">bonnet-myers' theorem</a>, <a href = "https://simonrs.com/eulercircle/complexanalysis2025/sahiti-brandon-jfn.pdf">j-function</a></li>
  <li> attempted to find a closed form for integer solutions of an elliptic curve as part of a summer program at wolfram (nothing burger) </li>


  <h3>
    courses i've taken
  </h3>
  <li>group theory/ring theory/galois theory</li>
 <li>differential geometry</li>
  <li>ai alignment</li>
  <li>type theory and logic</li>
  <li>proof based linear algebra</li>
  <li> algebraic combinatorics</li>


{% endblock content %}
