{% extends "base.html" %}

{% block content %}

<p class="page-links">
  <a href="/blog/abme">about me</a> •
  <a href="/blog/vibes">vibes</a> •
  <a href="/rss.xml" target="_blank">RSS</a>
</p>

<section class="eyebrow-section">
  <h2 class="eyebrow">things i've done</h2>
  <ul class="eyebrow-list">
    <li>barebones implementation of <a href="https://github.com/sahitidoke/linear-logic-java">linear logic in java</a></li>
    <li><a href="https://github.com/sahitidoke/system-f-java">system f</a> implementation in java</li>
    <li>extended SAE to Mamba-2 (improved on WriteSAE) @ Bionic Vision Lab</li>
    <li> statistics research on <a href = "https://drive.google.com/file/d/1DKPdm8YvupRohW0HGSLtVVgIf7GtCllL/view?usp=sharing" >asymmetric contamination of graphical models</a>. currently in the process of publication. </li>
    <li>wrote / co-wrote a couple expository papers on <a href="https://drive.google.com/file/d/1ri_4GKQ1H4hc_uaDM3KANGiSl9Dn0fzE/view?usp=drive_link">hilbert's nullstellensatz</a>, <a href="https://simonrs.com/eulercircle/diffgeo2025/brandon-sahiti-bm.pdf">bonnet-myers' theorem</a>, <a href="https://simonrs.com/eulercircle/complexanalysis2025/sahiti-brandon-jfn.pdf">j-function</a></li>
  
  </ul>
</section>

<section class="eyebrow-section">
  <h2 class="eyebrow">courses i've taken</h2>
  <ul class="eyebrow-list">
    <li>group theory/ring theory/galois theory</li>
    <li>differential geometry</li>
    <li>ai alignment</li>
    <li>type theory and logic</li>
    <li>proof based linear algebra</li>
    <li>algebraic combinatorics</li>
    <li>topology</li>
  </ul>
</section>

{% endblock content %}
