{% extends "base.html" %}

{% block content %}

{% set writing = get_section(path="writing/_index.md") %}

<ul class="blog-posts">
    {% for page in writing.pages %}
        <li>
            <span>
                <i>
                    <time datetime="{{ page.date }}">
                        {{ page.date }}
                    </time>
                </i>
            </span>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock content %}
