{% extends "base.html" %}

{% block content %}
  <p>greetings</p>

  <p>
  i'm sahiti, a pretty average math student at uc santa barbara's <a href="https://ccs.ucsb.edu/">college of creative studies</a>. 
 currently, i think about ai safety. i would describe myself as a big proponent of doing things. 
  </p>

  <ul>
    <li> <a href="/blog/abme">things about me i choose to share </a> </li>
  </ul>

  <p>
    <a href="mailto:sahiti.doke@gmail.com">email</a> •
    <a href="https://github.com/sahitidoke">github</a> •
    <a href="https://www.linkedin.com/in/sahiti-doke-2b59b3262/">linkedin</a>
  </p>

{% endblock content %}

